<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta content="website description" name="description"/>
    <meta content="website keywords, website keywords" name="keywords"/>
    <meta content="text/html; charset=windows-1252" http-equiv="content-type"/>
    {% block style %}
    {% endblock %}
</head>
<body>
    <div id="main">
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                    <!-- class="logo_colour", allows you to change the colour of the text -->
                    <h1><a href="/">theRise Framework</a></h1>
                    <h2>Simple. Practical. Easy to use. {{ date }}</h2>
                </div>
            </div>
            {% block menu %}
            {% endblock %}
        </div>
        <div id="site_content">
            {% block sidebar %}
            {% endblock %}
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
            <p><a href="/">Home</a> | <a href="/books/">Books</a> | <a href="/readers/">Our Readers</a> |
                <a href="/create_book/">Add Book</a> | <a href="/create_category/">Add Category</a> |
                <a href="/create_user/">Add User</a> | <a href="/read_book/">Read Books</a> |
                <a href="/contacts/">Contact Us</a></p>
            <p>Copyright &copy; theRise</p>
        </div>
    </div>
</body>
</html>