<div class="sidebar">
    <h1>Latest News</h1>
    <h4>theRise Framework starts to work</h4>
    <h5>Created by Sfd Jucide</h5>
    <p>Here you can find some good books about programming or add your book to share it with the world<br />
        <a href="/books/">See our books</a></p>
    {% if categories %}
        <h1>Types of Books</h1>
        <ul>
            {% for item in categories %}
                <li><a href="/books/?id={{ item.id }}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
<!--    <h1>Search</h1>-->
<!--    <form method="post" action="#" id="search_form">-->
<!--        <p>-->
<!--            <input class="search" type="text" name="search_field" value="Enter keywords....." />-->
<!--            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />-->
<!--        </p>-->
<!--    </form>-->
</div>